<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Hello There :D</h1>
    <p class="lead">This is my first app built using ruby on rails. There are a lot of improvements to be made and I will try to make it.</p>
  </div>
</div>